@import "../scss/variables";

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: dimgray !important;

  &:hover {
    text-decoration: none;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0 !important;
}
